body{
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.container{
    height:300px;
    width: 600px;
    background: linear-gradient(orange,pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.display{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 0 auto;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: bisque;
    color: red;
}
.btn{
    
    margin-top: 20px;
    cursor: pointer;
}
.b{
    padding: 4px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 1px 0 2px 1px rgba(0,0,0,.6);
    transform: ease-in-out 4s;
    cursor: pointer;
}

.b:hover{
    background-color: bisque;
    
}
#t{
    padding: 7px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 1px rgba(0,0,0,.6);
    cursor: pointer;
    transition: ease-in-out 0.2ms; 
}
#t:hover{
    background-color: red;
}
#t:active {
  transform: scale(0.95);          /* shrink slightly when clicked */
}

.highlight {
  background-color: green;
}

